

.trip-form-container {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  padding: 10px 40px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);

}

.trip-form-container .form-group label {
  color: black;
  
}

.trip-form-container .form-control {
  background: white;
  color: black;
  border: none;
}

.trip-form-container .form-control::placeholder {
  color: white;
}

.form-select {
  background: white;
  color: black;
  border: none;
}

@font-face {
  font-family: 'CustomFont';
  src: url('https://www.fontspace.com/oversouth-regular-font-f65477') format('truetype');
}

.font-link {
   font-family: 'Bagel Fat One'
 }
