.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000000;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.66);
    position: 0;
    top: 0;
    z-index: 100;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li {
    list-style: none;
    padding: 0 20px;
position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color:#fff;
    transition: 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a:hover {
    color: #0047AB;

}

#navbar li a:hover::after,
#navbar li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #0047AB;
    position: absolute;
    bottom: -4px;
    left: 20px;


}



.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px; /* Adjust the font size to make the button smaller */
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.5rem - 1px) calc(1rem - 1px); /* Adjust the padding to make the button smaller */
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.button-5:hover,
.button-5:focus {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}



.logo {
  display: flex;
  align-items: center;
  color: #fff;
}

.logo-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.title { 
  color: #fff;

}

.logo-image {
  width: 100px;
  height: auto;
  margin-right: 10px;
}